@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(0, 0, 0);
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'Poppins', sans-serif;
    
}

.nav1{
   
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    margin-top: 50px;
    
}
.logo_image{
    
    width: 50px;
}

.nav-list{
    font-size: 15px ;
    margin-top: 25px; 
   
   
   
    
}
.nav-list ul li{
    display: inline-block;
    margin-left: 50px;
    
}
.nav-list ul li a{
    text-decoration: none;
    color: white;
}
.intro{
    margin-left: 100px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.intro>.text h1{
    display: inline-block;
    margin-top: 150px;
    font-size: 100px;
    font-weight: 600;
    
}
.job-title{
   
    margin-left: 5px;
    
    
}
/* about me css */
.about-me {
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
}

.profile {
    text-align: center;
}

.profile img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.description {
    max-width: 600px;
    line-height: 30px;
    

}
.about_name{
    color: #ffff00;
    font-size: 30px;
    font-weight: 600;
}
.about-info{
    margin-top: 10px;
    font-size: 10px;
}
.yellow-name{
color: #ffff00;
font-weight: 800;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* floating button */
.floating_buttons{
    width: 400px;
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-top: 50px;
}
.floating-button{
     background-color: #ffffff;
     border: none;
     border-radius: 20px;
     font-size: 20px;
     height: 50px;
     color: rgb(6, 6, 6);
     width: 150px;
     padding: 10px;
     font-weight: bold;
}
.floating-button a{
    text-decoration: none;
    color: #000000;
}
.floating-button1{
    background-color: #ffff00;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    height: 50px;
    width: 200px;
     font-weight: 600;
     padding: 10px;
}
/* floating div */
.floating-div {
    width: 200px;
    position: relative;
    bottom: 20px;
    margin-left: 130px;
    background-color: #ffff00;
    color: #000000;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    animation: floatAnimation 5s infinite alternate ease-in-out; /* Added animation */
    cursor: pointer;
  }
  @keyframes floatAnimation {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(10px, 10px); /* Adjust the values to control the float distance */
    }
  }
  /* portfolio */
  .portfolio{
    margin-top: 200px;
    margin-left: 100px;
  }
 .portfolio-title{
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 20px;
    
 }
 /* portfolio grid */
.box-container{
    margin-top: 55px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap:15px;
    
}

.box-container .box{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding:30px 20px;
}

.box-container .box img{
    height: 80px;
}

.box-container .box h3{
    color:#444;
    font-size: 22px;
    padding:10px 0;
}

.box-container .box p{
    color:#777;
    font-size: 15px;
    line-height: 1.8;
}

.box-container .box .btn{
    margin-top: 10px;
    display: inline-block;
    background: #ffff00;
    color: black;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
}

.box-container .box .btn:hover{
   background-color: black;
   color: white;
   transition: ease-in-out 0.5s;
}

.box-container .box:hover{
    background-color: #e6dddd;
    transition: ease-in-out 0.3s
}
/* Contact me */
.contact{
    margin-top: 200px;
    margin-left: 100px;
    margin-bottom: 200px;
}
.contact-box{
	max-width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.contact-box .left{
	background: url("../assets/images/2.jpg") no-repeat center;
	background-size: cover;
	height: 100%;
}

.contact-box .right{
	padding: 25px 40px;
}

.right h2{
    color: #000000;
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 20px;
    font-size: 25px;
    font-weight: 300px;
}

.right h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #000000;
}

.right .field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.right .field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

.right textarea{
	min-height: 150px;
}

.right .btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #ffff00;
	color: #000000;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.right .btn:hover{
    background-color: #ffff00;
}

.right .field:focus{
    border: 2px solid black;
    background-color: #fff;
}
/* Copyright */
.footer{
    margin-left: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
}
.social {
   margin-top: -10px;
    
}
.social ul li{
    
display: inline-block;

}
.social ul li img{
        width: 30px;
        margin-left: 50px;
}
 /* line */
 .line{
   
    float: left;
    width: 500px;
 }
  /* cursor */


  .cursor::before{
    opacity: 0;
}
.cursor{
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ffff00;
    transition: 0.1s;
    transform: translate(-50%, -50%);
    scroll-behavior: smooth;
    pointer-events: none;
    mix-blend-mode: difference;

}
